---
import { Markdown } from 'astro/components';
import APIInfo from '../api-info.json';
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>A Good Band Name</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <main>
      <header>
        <a href="/"><h1>A Good Band Name</h1></a>
      </header>
      <div class="endpoints">
        <Markdown>
          # API Documentation
          
          You can use our endpoints for all your Bandname As A Service(BAAS) needs

          To get a curated band name:
          <Markdown content={`\`\`\`bash\r\ncurl ${APIInfo.curated}\r\n\`\`\``} />

          To get a random band name:
          <Markdown content={`\`\`\`bash\r\ncurl ${APIInfo.random}\r\n\`\`\``} />
        </Markdown>
      </div>
      <footer>
        <h3>Made with ♥ (and <a href="https://astro.build">Astro</a>) by <a href="https://grichey.me">Greyson</a> and <a href="https://linktr.ee/quirky.calligrapher">Anne</a></h3>
      </footer>
    </main>
  </body>
</html>

<style scoped>
a {
  color: var(--color-font);
}

header, footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

main {
  display: grid;
  gap: 4rem;
}

.endpoints {
  justify-self: center;
  min-width: 0;
  width: min-content;
}
</style>
